<%- include('./templates/header.ejs') %>

    <main>
        <div class="divBlock">
            <h1 class="centerText">404 ERROR</h1>
            <p class="centerText">Wrong way kid, turn back!</p>
        </div>
    </main>

<%- include('./templates/footer.ejs') %>

