

<%- include('./templates/header.ejs') %>

<body>

    <main class="gridContainer-mob">
        
    </main>

    <%- include('./templates/navMain.ejs') %>

</body>

<%- include('./templates/footer.ejs') %>