<%- include('./templates/header.ejs') %>
<%- include('./templates/navMain.ejs') %>

    <main class="gridContainer-mob">
        
        <%- include('./templates/loginForm.ejs') %>

    </main>

<%- include('./templates/footer.ejs') %>