<%- include('./templates/header.ejs') %>

<body>

    <main>
        <h2> <%= title %> </h2>
        <ul>
            <li>Nintendo 64</li>
            <li>Play Station</li>
            <li>Sega</li>
            <li>NES</li>
            <li>Gameboy - Color</li>
        </ul>
    </main>

</body>

<%- include('./templates/footer.ejs') %>