<%- include('./templates/header.ejs') %>

<body>

    <main>
        <h1><%= title %></h1>
        <h2> <%= serviceList %> </h2>
        <ul>
            <li>Console maintenance</li>
            <li>User support</li>
            <li>Bug fixing</li>
            <li>Chips</li>
            <li>Purchase advisory</li>
        </ul>
    </main>

</body>

<%- include('./templates/footer.ejs') %>