/** STYLE FOR ALL ++++++++++++++++++++++++++++ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: rgb(255, 0, 221);
}

.centerText {
    text-align: center;
}

.headerDiv {
    background-color: black;
    box-shadow: 0px 5px 12px 5px rgba(0,255,255,0.7);

    width: 99%;
    margin: 0 auto;
}

.titleHead {
    color: rgb(53, 190, 240);

    font-family: sans-serif;
    font-size: 50px;

    padding: 17px;
}

.corporate {
    color: rgb(255, 254, 254);

    padding: 5px;
    margin: 0;

    font-family: monospace;
    font-size: 15px;
}

body {
    background-color: rgb(23, 10, 31);
}

#imgLogo {
    display: grid;
    margin: 0 auto;

    max-width: 85%;

    padding: 8px;
}

.gridContainer-mob {
    display: grid;
    grid-template-columns: 1fr;

}

p {
    background-color:blue;
    color:whitesmoke;
}

.whiteLettersNeon {
    font-family: sans-serif;
    color:whitesmoke;
    box-shadow: 0px 5px 12px 5px rgba(0,255,255,0.7);
}

/**GENERALS ++++++++++++++++++++++++++++++++++ */

/*Navigation Bar 1 */

.navMenu {
    display: inline;
    align-content: space-around;
    margin: 5px;
}

.navMenu a {
    list-style: none;
    text-decoration: none;
    text-align: center;

    font-family: sans-serif;
    font-size: 15px;
    color: white;

    transition: 1s,
}

.navMenu a:hover{
    color: white;
    /* background-color: rgb(6, 6, 7); */

    border-radius: 30px;
    box-shadow: 0px 5px 12px 5px rgba(0,255,255,0.7);
}

table {
    color:whitesmoke;
    margin:0 auto;
    padding:4%;

    font-family: sans-serif;
    font-size: 15px;
}

th {
    
    border-radius: 15%;
    background-color: rgb(14, 15, 15);
    box-shadow: 0px 5px 12px 5px rgba(0,255,255,0.7);
}

td {
    padding: 7px;
}

li {
    display: inline-block;
    margin-left: 5px;
    color:whitesmoke;
    margin:2%;
}

/*LOGIN FORM +++++++++++++++++ */

.adminForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 70%;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
.generalBtn {
    background-color: #6b3fa0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.generalBtn:before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background-color: #00ff7f;
        transform: rotate(45deg);
        animation: neon 1.5s linear infinite;
}

.generalBtn:hover {
    background-color: #7c49b5;
  }


.generalBtn:hover:before {
    animation: none;
    opacity: 0.7;
}

/* ++++++++++++++ */

/**ADMINISTRATOR STYLES ++++++++++ */
.admWebTitle {
    font-family: sans-serif;
    font-size: 30px;

    color:whitesmoke;
}

.anchorBtn {
    font-family: sans-serif;
    font-size: 15px;

    display: block;
    margin: 0 auto;
    margin-top: 2%;
    width: 70%;

    background-color: rgb(4, 27, 179);
    color: whitesmoke;
    border-radius: 10%;
    border: 1px solid whitesmoke;

    text-decoration: none;
    text-align: center;
}

.anchorBtn:hover {
    background-color: antiquewhite;
    box-shadow: 0px 5px 12px 5px rgba(0,255,255,0.7);
    color: black
}

/**MEDIA QUERY +++++++++++++++++++ */
/* ===================================
                     media query 768px
======================================*/
@media screen and (min-width:768px) {
    
    .gridContainer-mob {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    #imgLogo {
        display: grid;
        margin: 0 auto;
    
        max-width: 30%;
    
        padding: 8px;
    }

    .corporate {
        font-size: 15px;
    }

    .navMenu a {
        font-size: 25px;
    }
    
}
/*768px end.*/

/* ===================================
                     media query 992px
======================================*/
@media screen and (min-width:992px) {
    .gridContainer-mob {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    #imgLogo {
        display: grid;
        margin: 0 auto;
    
        max-width: 30%;
    
        padding: 8px;
    }

    .navMenu a {
        font-size: 25px;
    }

}
/*992px end.*/

/* ===================================
                    media query 1200px
======================================*/
@media screen and (min-width:1200px) {
    .gridContainer-mob {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    #imgLogo {
        display: grid;
        margin: 0 auto;
    
        max-width: 30%;
    
        padding: 8px;
    }

    .navMenu a {
        font-size: 25px;
    }

}
/*1200px end.*/

/* ===================================
                            KEYFRAMES
======================================*/
@keyframes neon {
    0% {
      transform: rotate(45deg) translate(-50%, -50%) scale(0.1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(45deg) translate(-50%, -50%) scale(1.2);
      opacity: 0;
    }
  }