

<div class="adminForm margin3topbot">
    <div>
      <h3 class="whiteLettersNeon">Login as Admin</h3>
    </div>
    <div class="centerDiv">
      <form id="loginForm" action="/login" method="POST">
        <input type="text" id="email" name="email" placeholder="Email">
        <input id="password" name="password" placeholder="Password" type="password">
        <button class="generalBtn" type="submit">Log In</button>
      </form>
    </div>
</div>