

<ul class="navMenu">
    <li><a href="/"> Home </a></li>
    <li><a href="/productos"> Products </a></li>
    <li><a href="/servicios"> Services </a></li>
    <li><a href="/facility"> Facilities </a></li>
    <li><a href="/login-form"> Log In </a></li>
</ul>