<footer>
    <h2 class="centerText">ADMIN FOOTER</h2>
    <p class="centerText">Remember to kill the terminal after finishing editing</p>
    <!-- Display of contact ICONS -->
</footer>

</body>
</html>