<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>API Administration</title>
</head>
<body>
    
    <header class="headerDiv">
        <figure>
            <img id="imgLogo" src="/assets/headers/VERSUS_logo.png" alt="VERSUS_logo">
        </figure>
        <p class="corporate centerText">ADMINISTRATOR AREA</p>
    </header>

