
<div class="centerDiv">
    <ul class="navMenu">
        <li><a href="/admin/services/show-services"> Home </a></li>
        <li><a href="/admin/services/form"> Create </a></li>
        <li><a href="/"> Log out </a></li>
    </ul>
</div>