<%- include('../adminViews/templatesAD/headerAD') %>


<section>
    <form class="adminForm" method="post" action="/admin/services/create-service">
        <div>
            <input type="text" name="service" id="service" placeholder="Service name..">
        </div>
        <div>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter a service description.."></textarea>
        </div>
        <input class="generalBtn" type="submit" value="Create Service">
    </form>
</section>

<!-- la acción es la URL -->

<%- include('../adminViews/templatesAD/footerAD') %>