<%- include('../adminViews/templatesAD/headerAD') %>


<section>
    <form method="post" action="">
        <input type="text" name="" id="">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
</section>

<!-- la acción es la URL -->

<%- include('../adminViews/templatesAD/footerAD') %>