<%- include('../adminViews/templatesAD/headerAD') %>

<body>

    <main>
        <ul>
            <li>Console maintenance</li>
            <li>User support</li>
            <li>Bug fixing</li>
            <li>Chips</li>
            <li>Purchase advisory</li>
        </ul>

        <table>
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </main>

</body>

<%- include('../adminViews/templatesAD/footerAD') %>