<%- include('../adminViews/templatesAD/headerAD') %>


<section>
    <form method="post" action="/admin/services/update-service/:id">
        <div>
            <input type="text" name="service" id="service" placeholder="Service name..">
        </div>
        <div>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter a service description.."></textarea>
        </div>
        <input type="submit" value="Update Service">
    </form>
</section>

<!-- la acción es la URL -->

<%- include('../adminViews/templatesAD/footerAD') %>